fieldset {
  width: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-label {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition:
    background-color 0.2s,
    border-color 0.2s;
}

.radio-label:hover {
  background-color: #e6e6e6;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-input:checked + .radio-label {
  border-color: #783192;
}

.radio-input:focus + .radio-label {
  outline: 2px solid #783192;
}

.radio-inner-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #888;
  border-radius: 50%;
  margin-right: 0.5em;
  transition: border-color 0.2s;
  position: relative;
}

.radio-label:hover .radio-inner-circle {
  border-color: #555;
}

.radio-input:checked + .radio-label .radio-inner-circle {
  border-color: #783192;
}

.radio-input:checked + .radio-label .radio-inner-circle::after {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: #783192;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Copyright - 2026 coding-masala (CodingMasala)  */
